.signUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-bottom: 20px;
}

.inputTextIcon {
  color: #CDCDCD;
}

.errorMessage {
  margin-bottom: 20px;
  color: #D0021B;
}
