.emailVerifyPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyResultModal {
  width: 360px;
  padding: 45px 30px;
  font-size: 18px;
  color: #808080;
  background-color: #FFFFFF;
}
