.wrap {
  position: relative;
  width: 100%;
}

.inputWrap {
  position: relative;
}

.inputText {
  width: 100%;
  padding-left: 20px;
  height: 52px;
  font-size: 18px;
  border-radius: 40px;
  border: 1px solid #DDDDDD;
  outline: none;
  transition: border 0.5s ease;
}

.inputText:focus {
  border: 1px solid #BDBDBD;
}

.withIcon {
  padding-left: 60px;
}

.iconWrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.error:focus,
.error {
  border: 1px solid #D0021B;
}

.errorMessage {
  padding-left: 20px;
  color: #D0021B;
  font-size: 12px;
}
